.input-val {
  height: 40px;
  width: 30%;
  border: 1px solid grey;
  border-radius: 8px;
  outline: none;
  padding: 10px;
}
.todo-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.form-container {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.add-button {
  border: 0px solid transparent;
  outline: none;
  height: 40px;
  width: 80px;
  font-size: 15px;
  background-color: #ffa000;
  font-family: "Roboto";
  font-weight: 300;
  color: #ffffff;
  border-radius: 8px;
  margin-left: 8px;
  cursor: pointer;
}
